/*--
Remember the cascade: 
 1. later styles override earlier ones 
 2. more specific styles override more general ones
--*/
html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto;
}
body {
  color: #444;
  font-size: 1.6rem;
  font-family: 'Arial', sans-serif;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #444;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}
/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1em;
}
nav a:link, nav a:visited {
  color: #D0D0D0;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  margin: 0 auto;
  padding: 0 auto;
}
.small {
  margin-top: 1em;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
}
article figcaption {
  font-size: inherit;
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
}
a.button {
  border: 2px solid #888;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #888;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 1px solid #444;
  text-decoration: none;
  color: #222;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
